//For color
$mygreen:#84a583;
$greentitle:#365335;
$mypink: #FDCEA9;
$header :rgba(83, 77, 77, 0.56) ;
$myred: #EA495F; 
//For background

%bg-body {
  background : $mygreen ;
};
%bg-title{
  background:$mypink;
};

//For mediaQuery
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

header{
    background-color:$header;
}
 
 .mybtn{
  border-radius: 3rem;
  background: $myred;
 };

@mixin parralax($url){
  background: ($url);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  margin: 0;
  padding: 0;

}
  .parralax{
    @include parralax(url(image/manger.jpg));
    };


body{
@extend %bg-body ;

};

.myCard{
  margin-bottom: 30px;


  &:hover{
transform: scale(1.1);
margin-bottom: 30px;
  }
};


h3{
  color:$greentitle;

};
.bg-h3{
@extend %bg-title;
height: 250px;
color:$greentitle;
};