
%bg-perso {
  background :#84a583;
};

$header :rgba(83, 77, 77, 0.56) ;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

header{
    background-color:$header;
}
<<<<<<< HEAD
<<<<<<< HEAD
$myred :#EA495F;
  
 .mybtn{
  border-radius: 3rem;
  background:$myred;
 };
=======
=======


>>>>>>> 533ae40 (ft/Add 3 new card with img)
@mixin parralax($url){
  background: ($url);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  margin: 0;
  padding: 0;
}
  .parralax{
    @include parralax(url(image/manger.jpg));
    };

<<<<<<< HEAD
>>>>>>> b1f2d01 (ft-Parralax with img in only one size)
=======
main{
  @extend %bg-perso;
<<<<<<< HEAD
}
>>>>>>> f1d66c2 (ft/Add 3 card of presentation)
=======
};

.myCard{
  margin-bottom: 30px;
  

  &:hover{
transform: scale(1.1);
margin-bottom: 30px;
  }
};
>>>>>>> 533ae40 (ft/Add 3 new card with img)
